
<!-- ======= Breadcrumbs ======= -->
<%= render 'layouts/topbar' %>
<!-- End Breadcrumbs -->

<!-- ======= Header ======= -->
<%= render 'layouts/header' %>
<!-- End Header -->

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
    <h2><i class="icofont-exclamation-circle"></i><%= t('layouts.header.help') %></h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><%= t('.resend_unlock_instructions') %></li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<div class="col-md-6 offset-md-3">
  <br><br>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= bootstrap_devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary'%>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
</div>
