<!-- ======= Header ======= -->
<header id="header">
<div class="container d-flex">

  <div class="logo mr-auto">
    <!-- <h1 class="text-light"><a href="/">R|O|S|I</a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <!---a href="#"><img src="staticos/assets/img/logo.png" alt="" class="img-fluid"></a-->
  </div>

  <nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Services', services_path %></li>
      <% if user_signed_in? %>
        <li>
          <a class="navbar-link navbar-link"<strong>| <%= current_user.email %> | </strong></a>
        </li>
        <li>
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
      <% else %>
        <li>
          <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        </li>
      <% end %>
    </ul>
  </nav><!-- .nav-menu -->

</div>
</header>
<!-- End Header -->