<!-- ======= Header ======= -->
<header id="header">
<div class="container d-flex">

  <div class="logo mr-auto">
    <!-- <h1 class="text-light"><a href="/">R|O|S|I</a></h1-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/"><img src="staticos/assets/img/ROSIXTechHorizFT500x125.png" alt="" class="img-fluid"></a>
  </div>

  <nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to t('layouts.header.about'), about_path %></li>
      <li><%= link_to t('layouts.header.services'), services_path %></li>
      <% if user_signed_in? %>
        <li>
          <a class="navbar-link navbar-link"<strong>| <%= current_user.email %> | </strong></a>
        </li>
        <li>
          <%= link_to t('layouts.header.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to t('layouts.header.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
      <% else %>
        <li>
          <%= link_to t('layouts.header.sign_up'), new_user_registration_path, :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to t('layouts.header.sign_in'), new_user_session_path, :class => 'navbar-link'  %>
        </li>
      <% end %>
      <li class="social-links">
        <a href="<%= request.path %>?locale=en">
          <span class="flag-icon flag-icon-us"></span>
        </a>
      </li>
      <li class="social-links">
        <a href="<%= request.path %>?locale=pt-br">
          <span class="flag-icon flag-icon-br"></span>
        </a>
      </li>
      <li class="social-links">
        <a href="<%= request.path %>?locale=pt">
          <span class="flag-icon flag-icon-ao"></span>
        </a>
      </li>
    </ul>
  </nav><!-- .nav-menu -->

</div>
</header>
<!-- End Header -->