<section id="services" class="services">
<div class="container">

  <div class="section-title" data-aos="fade-up">
    <h2><%= t('layouts.ourservices.check_out_some') %>
    <strong><%= t('layouts.ourservices.our_services') %></strong></h2>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up">
        <div class="icon"><i class="icofont-computer"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.business_support_services') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.business_support_services_meaning') %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.digital_transformation_support') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.digital_transformation_support_meaning') %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="icofont-earth"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.web_development') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.web_development_meaning') %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="icofont-image"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.full_management') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.full_management_meaning') %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="icofont-settings"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.digital_marketing') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.digital_marketing_meaning') %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="icofont-tasks-alt"></i></div>
        <h4 class="title"><a href=""><%= t('layouts.ourservices.training') %></a></h4>
        <p class="description"><%= t('layouts.ourservices.training_meaning') %></p>
      </div>
    </div>
  </div>

</div>
</section><!-- End Services Section -->
