<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-computer"></i>IT Solutions</a>
      <i class="icofont-hour-glass"></i>Since 1997
    </div>
    <div class="logo mr-auto">
      <!-- <h1 class="text-light"><a href="/">R|O|S|I</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/"><img src="staticos/assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>
    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
    </div>
    <div class="social-links">
      <a href="<%= request.path %>?locale=en">
        <span class="flag-icon flag-icon-us"></span>
      </a>
      <a href="<%= request.path %>?locale=pt-br">
        <span class="flag-icon flag-icon-br"></span>
      </a>
      <a href="<%= request.path %>?locale=pt">
        <span class="flag-icon flag-icon-ao"></span>
      </a>
    </div>
  </div>
</section>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
