<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <%= render 'layouts/topbar' %>
    <!-- End Breadcrumbs -->

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
        <h2><%= t('layouts.header.about') %></h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><%= t('layouts.header.about') %></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-up">21st-century skills and more</h3>
              <p data-aos="fade-up">
              We have started early, but our thoughts are ahead. We have been adjusting 
              over the years to the markets and businesses' needs. Nowadays our everyday guidance 
              is based, not only, but also on some 21st-century skills whose refer to a broad set of 
              knowledge, skills, work habits, and character traits that are believed—by educators, 
              employers, and others—to be critically important to success in today's world, such 
              as problem-solving, creativity and collaboration
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Problem-solving</h4>
                  <p>Problem-solving is a process, which involves systematic observation and critical 
                  thinking to find an appropriate solution or way to reach the desired goal</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Creativity</h4>
                  <p>Creativity is the ability to see new opportunities, to produce original ideas, 
                  to flexibly adapt to changing situations, and to apply one’s imagination to solve 
                  complex problems</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Innovation</h4>
                  <p>We apply our knowledge to enhance ways of thinking, learning, working, and living in the 
                  modern world, whether for business or for everyday life</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Collaboration</h4>
                  <p>Collaborating fruitfully with others is a daily goal for the team</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <!-- End Our Clients Section -->
        <%= render 'layouts/ourclients' %>
        <!-- End #main -->
      </div>
    </section><!-- End Our Team Section -->


  <!-- ======= Footer ======= -->
  <%= render 'layouts/footer' %>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="staticos/vendor/jquery/jquery.min.js"></script>
  <script src="staticos/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="staticos/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="staticos/assets/vendor/php-email-form/validate.js"></script>
  <script src="staticos/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="staticos/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="staticos/assets/vendor/venobox/venobox.min.js"></script>
  <script src="staticos/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="staticos/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="staticos/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="staticos/assets/js/main.js"></script>

</main>
