<body>

  <!-- ======= Breadcrumbs ======= -->
  <%= render 'layouts/topbar' %>
  <!-- End Breadcrumbs -->

  <!-- ======= Header ======= -->
  <%= render 'layouts/header' %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="30000">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(staticos/assets/img/slide/ModernCity.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2><%= t('layouts.index.welcome_title') %> <span>ROSI {in}tech Business</i></span></h2>
              <p><%= t('layouts.index.since') %></p>
              <div class="text-center"><a href="" class="btn-get-started"><%= t('layouts.index.read_more') %></a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(staticos/assets/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2><%= t('layouts.index.we_make') %></h2>
              <p><%= t('layouts.index.place') %></p>
              <div class="text-center"><a href="" class="btn-get-started"><%= t('layouts.index.read_more') %></a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(staticos/assets/img/slide/OfficeSpacePlant.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2><%= t('layouts.index.come_along') %></h2>
              <p><%= t('layouts.index.how_can_we_help') %></p>
              <div class="text-center"><a href="" class="btn-get-started"><%= t('layouts.index.read_more') %></a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        <span class="sr-only"><%= t('layouts.index.previous') %></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        <span class="sr-only"><%= t('layouts.index.next') %></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3><%= t('layouts.index.we_created') %>
            <span><%= t('layouts.index.dozens') %></span>
            <%= t('layouts.index.solutions') %>
            </h3>
            <p><%= t('layouts.index.perspective') %></p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#"><%= t('layouts.index.lets_talk') %></a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Our Clients Section ======= -->
    <%= render 'layouts/ourclients' %>
    <!-- End Our Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%= render 'layouts/footer' %>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="staticos/assets/vendor/jquery/jquery.min.js"></script>
  <script src="staticos/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="staticos/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="staticos/assets/vendor/php-email-form/validate.js"></script>
  <script src="staticos/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="staticos/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="staticos/assets/vendor/venobox/venobox.min.js"></script>
  <script src="staticos/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="staticos/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="staticos/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="staticos/assets/js/main.js"></script>

</body>
