<main id="main"> 
 
  <!-- ======= Breadcrumbs ======= -->
  <%= render 'layouts/topbar' %>
  <!-- End Breadcrumbs -->

  <!-- ======= Header ======= -->
  <%= render 'layouts/header' %>
  <!-- End Header -->
 
  <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><%= t('layouts.header.tutorials') %></h2></h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><%= t('layouts.header.tutorials') %></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="cta-pricing" class="cta-pricing">
      <div class="container">

        <div class="text-center">
    
          <h3>O que é um algorítmo e por que você deveria prestar mais atenção nisso?</h3>

          <a class="typeform-share button" 
            href="https://form.typeform.com/to/NLB09oeE?typeform-medium=embed-snippet" 
            data-mode="popup" 
            style="display:inline-block;text-decoration:none;background-color:#E26D5A;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:0px 28px;border-radius:21px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" 
            data-size="100" target="_blank">Avalie as Aulas Online </a> 
            <script> 
              (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() 
            </script>
        </div>
      </div>
    </section><!-- End Tutorial Section -->

    
    <!-- ======= Tutorial Section ======= -->
    <section id="cta-pricing" class="cta-pricing">
      <div class="container">

        <div class="text-center">

          <p>Materiais de apoio para as aulas online do curso <strong>Organize a sua Área de Trabalho!</strong></p>
          <hr>
          <p>Ação realizada em parceria com a Comunidade <strong>Torne-se um Programador</strong></p>
          <p>para incentivar a participação de <strong>mais mulheres</strong> na área de tecnologia</p>
          <hr>
          <h3>Tutorial</h3>
          <p>Organize a sua área de trabalho!</p>
          <a class="cta-btn" href="/staticos/assets/tutorials/TutorialMobile-OrganizeSuaAreadeTrabalho.pdf", target: "_blank">Abrir no Navegador</a>
          <%= link_to "Baixar o PDF", tutorials_download_pdf_url, target: "_blank", class: "cta-btn" %>
        </div>
      </div>
    </section><!-- End Tutorial Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%= render 'layouts/footer' %>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="staticos/assets/vendor/jquery/jquery.min.js"></script>
  <script src="staticos/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="staticos/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="staticos/assets/vendor/php-email-form/validate.js"></script>
  <script src="staticos/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="staticos/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="staticos/assets/vendor/venobox/venobox.min.js"></script>
  <script src="staticos/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="staticos/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="staticos/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="staticos/assets/js/main.js"></script>

</main>